<!DOCTYPE HTML>
<html>

<head>
	<!-- <title>Footwear - Free Bootstrap 4 Template by Colorlib</title> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/css/ajax-bootstrap-select.min.css" integrity="sha512-k9D6Fzp2d9BxewMk+gYYmlGYxv7DLVC46DiCRv3DrAwBkbjSBZCnhBhWCugLuhkTS36QgQ3h7BwkkkfkJk7cXQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
	

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href=""><h2>Step-<span style="color: cadetblue">Up</span> Sh<span style="color: cadetblue">oe</span></h2></a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<form class="search-wrap">
								<div class="form-group">
									<input type="search" class="form-control search" placeholder="Search" onkeyup="search(this)">
									<button class="btn btn-primary submit-search text-center" type="submit"><i
											class="icon-search"></i></button>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="/">Home</a></li>
								<!-- <li class="has-dropdown">
									<a href="">Men</a>
									<ul class="dropdown">
										<li><a href="product-detail.html">product-detail</a></li>
										<li><a href="cart.html">cart</a></li>
										<li><a href="checkout.html">checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li>
										<li><a href="add-to-wishlist.html">Wishlist</a></li>
									</ul>
								</li> -->
								<li><a href="../shop">Shop</a></li>
								<li class="has-dropdown">
								<!-- <a href="">Women</a> -->
								<!-- <ul class="dropdown">
									<li><a href="">product-detail</a></li>
									<li><a href="">cart</a></li>
									<li><a href="">checkout</a></li>
									<li><a href="">Order Complete</a></li>
									<li><a href="">Wishlist</a></li>
								</ul> -->
								</li>

								<li><a href="">About</a></li>
								<li><a href="">Contact</a></li>
								<!-- <li><a href="">WishList<i class="fa-regular fa-heart"></i></a></li> -->
								
								
								<!-- <svg xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 448 512">
									<path
										d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
								</svg> -->
							
								<li class="has-dropdown" style="float: right;">
									
									<i class="fa-solid fa-user"></i>
									
									
									<ul class="dropdown" >
										<%if(user){%>
											
											<li><a href="/userdetails"><%= user.userName %></a></li>
											<li><a href="/orderlist">Your Order</a></li>
											<li><a href="/wishList">WishList[ <span id="wishlen"></span> ]</a></li>
											<li><a href="/logout">Logout</a></li>
									<% } else{ %>
										<li><a href="/login">Login</a></li>
									<%	}%>
									
										
									
									</ul>
								</li>
								
						


								
			
								            
											<li class="cart"><a href="/cart">Cart [ <span id="cartlen"></span> ]</a>
											</li>
											




							</ul>
						</div>
					</div>
				</div>
			</div>

			<script>
				window.onload = cartCount();
				function cartCount() {
					console.log("CART COUNT");
				  $.ajax({
					type: "get",
					url: "/count",
					data: {},
					dataType: "json",
					encode: true,
				  }).done(function (data) {
					console.log("REACHEd");
					console.log(data.ccount.productt.length,data.wcount.product1.length);
				    $("#cartlen").html(data.ccount.productt.length);
					$("#wishlen").html(data.wcount.product1.length);
					
				  });
				}
				</script>